@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*general webpage CSS*/
html {
  margin:0;
  padding:0;
  height:100%; 
  max-height: 400px;
}

body {
  background: rgba(27, 81, 177, 0.6) url("../imgs/citystreet.jpg") no-repeat fixed center;
  background-size: cover;
  color: white;
  height:100%; 
  margin:0;
  padding:0;
  font-family: "Fjalla One";
}

a, a:visited { 
  color: white;
}

a:hover {
  color: #2dcc70;
}

input {
  color: #555;
}

.modal-dialog {
  color: #555;
}

.well {
  border-radius: 5px;
  background-color: rgba(69,69,69,.7);
}

.well h3 {
  margin-top: 0px;
  text-align: center;
}
/*end general webpage css*/


/*naviagation bar css*/
.navbar-default {
  background-color: rgba(0,0,0,0.7);
  border: none;
  margin-bottom: 0px;
}

/*also in media size*/
.navbar-header img {
  padding-top: 5px;
  margin-bottom: -50px;
}

/*also in media size*/
.nav.navbar-nav li a,
.nav.navbar-nav li a:visited {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: #2dcc70;
}

.dropdown {
  margin-top: 15px;
}

.dropdown-menu {
  right: 100%;
}

.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #2dcc70;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a {
  /*background-color: transparent;*/
  background-color: rgba(0,0,0,0.5);
  color: white;
}
/*end naviagation bar css*/


/*main page css*/
.logo {
  width: 20%;
  height: 20%;
  margin-left: 10px;
}

/*also in media size*/
.page-header {
  margin-top: -15px;
  margin-bottom: 0px;
  border-bottom: 0px;
  height: 40px;
}

.title {
  background: #2dcc70;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
}

#main {
  padding-bottom: 80px;
}

#home {
  position: relative;
  transform: translateY(50%);
}

.container-fluid {
  height:90%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 80%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float: none;
  margin:0 auto;
}

.center {
  text-align: center
}

.about {
  background: #2dcc70;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 100px;
  width:80%;
}

.about p {
  font-size: 1.4em;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

#footer {
  background: #333;
  padding-top: 7px;
  padding-bottom: 15px;
  color: #666;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/*end main page css*/


/*custom button css*/
#mainButtons {
  margin-top: 30px;
  text-align: center;
}

.btn-default {
  border-color: white;
  background-color: transparent; 
  color: white;
  border-width: 3px;
}

.btn-default:hover {
  color: black;
  background-color: #FFF;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.custom-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  border: 0;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px;
}

.btn-primary {
  background-color: #2dcc70;
}

.btn-primary:hover {
  background-color: #24a259;
}

/*also in media size*/
.btn-xl {
  height: 100px;
  width: 300px;
  font-weight: bold;
  font-size: 30pt;
}
/*end custom button css*/


/*rides / row css*/
.pubRow {
  padding-top: 15px;
}

.rides {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
}

/*also in media size*/
.rides form input {
  width: 50%;
}

.rides form {
  padding-top: 15px;
}

.rides .form-horizontal input {
  margin-left: 25%;
}

.ridecontainer {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.ridecontainer a {
  color: white;
}

.ridecontainer .well {
  padding-bottom: 10px;
}

.ridecontainer iframe {
  min-width: 200px;
  width: 100%;
  min-height: 425px;
}

.rides:hover {
  background-color: rgba(69,69,69,.9);
}
/*end rides / row css*/


/*signup page css*/
.signup {
  padding-top: 50px;
}

.signup button {
  margin-top: 75px;
}

/*also in media size*/
.signup .well {
  width: 100%;
}

.signupButton {
  margin-top: -30px;
}
/*end singup page css*/


/*team page css*/
.team {
  padding-left: 100px;
}

.profile_img {
  width: 100px;
  border-radius: 20px;
  padding-bottom: 10px;
}
/*end team page css*/

/*for when screen is smaller than 700px*/
@media (max-width: 700px) {
  .signup .well {
    width: 40%;
    text-align: center;
    margin-left: 30%; 
  }

  .rides {
    width: 70%;
  }

  .rides .form-horizontal input {
    margin-left: 20%;
  }

  .rides form input {
    width: 60%;
  }
}

/*for when screen is bigger than 700px but less than 768px*/
@media (min-width: 700px) and (max-width: 768px) {
  .signup .well {
    width: 50%;
    text-align: center;
    margin-left: 30%; 
    padding-left: -10px;
  }
}

/*for when screen is medium size*/
@media (max-width: 767px) {
  .navbar-header img {
    margin-bottom: 0px;
    padding-top: 15px;
  }

  .settings .form-horizontal .form-group {
    text-align: center;
  }

  .dropdown {
    margin-left: 15px;
  }

  .dropdown-menu {
    margin-top: 20px;
  }

  .dropdown-menu li {
    margin-left: -10px;
    width: 35px;
  }
}

/*for when screen size is bigger than medium size but smaller than large size*/
@media (min-width: 768px) and (max-width: 992px) {
  .signup .form-horizontal {
    margin-left: -100px; 
  }

  .settings .form-horizontal .form-group {
    margin-left: 30%;
  }

  .rides {
    width: 60%;
  }

  .rides .form-horizontal input {
    margin-left: 25%;
  }

  .rides form input {
    width: 50%;
  }
}

/*for when screen is smaller than large size*/
@media (max-width: 992px) {
  h1 {
    font-size: 2.2em;
  }

  .page-header {
    height: 30px;
  }

  .nav.navbar-nav li a {
    font-size: 1.05em;
  }

  #mainButtons button {
    font-size: 1.5em;
  }

  .btn-xl {
    height: 75px;
    width: 200px;
  }

  .middle {
    margin-top: 55px;
    min-height: 10px;
    background-color: rgba(0,0,0,0.05);
  }
}

/*for when the screen is bigger than large size*/
@media (min-width: 992px) {
  .nav.navbar-nav li a {
    font-size: 1.3em;
  }

  .middle {
    margin-top: 55px;
    min-height: 10px;
    background-color: rgba(0,0,0,0.05);
  }

  .signup .form-horizontal {
    margin-left: -50px;
  }

  #carid {
    margin-top: 30px;
  }

  .dropdown {
    margin-top: 12px;
    font-size: 1.3em;
  }

  .settings .form-horizontal .form-group {
    margin-left: 30%;
  }
}


/*home page css based on height of window*/
@media (max-height: 500px) {
  #home {
    position: relative;
    transform: translateY(30%);
  }

  .about {
    margin-top: 30px;
  }
}

@media (min-height: 500px) and (max-height: 600px) {
  #home {
    position: relative;
    transform: translateY(40%);
  }

  .about {
    margin-top: 40px;
  }
}
/*end home page css based on height of window*/


tbody {
  color: black;
}

.settings {
  margin-top: 15px;
}

.tab-content {
  margin-top: 15px;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0.7);
  min-width: 85px;
}

.settings .well {
  width: 60%;
}

.offer .well {
  width: 60%;
  padding-bottom: 10px;
}
