@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*general webpage CSS*/
html {
  margin:0;
  padding:0;
  height:100%; 
  max-height: 400px;
}

body {
  background: rgba(27, 81, 177, 0.6) url("../imgs/citystreet.jpg") no-repeat fixed center;
  background-size: cover;
  color: white;
  height:100%; 
  margin:0;
  padding:0;
  font-family: "Fjalla One";
}

a, a:visited { 
  color: white;
}

a:hover {
  color: #2dcc70;
}

input {
  color: #555;
}

.well {
  border-radius: 5px;
  background-color: rgba(69,69,69,.7);
}

.well h3 {
  margin-top: 0px;
  text-align: center;
}
/*end general webpage css*/


/*naviagation bar css*/
.navbar-default {
  background-color: rgba(0,0,0,0.7);
  border: none;
  margin-bottom: 0px;

}

/*also in media size*/
.navbar-header img {
  margin-bottom: -50px;
}

/*also in media size*/
.nav.navbar-nav li a,
.nav.navbar-nav li a:visited {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: #2dcc70;
}

.navbar ul {
  text-align: center;
  float: right;
}

.dropdown {
  margin-top: 15px;
}

.dropdown-menu {
  right: 100%;
}

.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #2dcc70;
  background-color: transparent;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a {
  color: white;
}
/*end naviagation bar css*/


/*main page css*/
.logo {
  width: 20%;
  height: 20%;
  margin-left: 10px;
}

/*also in media size*/
.page-header {
  margin-top: -15px;
  margin-bottom: 0px;
  border-bottom: 0px;
  height: 40px;
}

.title {
  background: #2dcc70;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
}

#main {
  padding-bottom: 80px;
}

#home {
  position: relative;
  transform: translateY(50%);
}

.container-fluid {
  height:90%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 80%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float: none;
  margin:0 auto;
}

.center {
  text-align: center
}

.rlabel {
  color: #2dcc70;
  font-weight: bold;
  text-transform: uppercase;
}

.slabel {
  color: #2dcc70;
  font-weight: bold;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #81e0a9;

}

.panel-default > .panel-heading a{
  color: black !important;
}

.bus h3 {
  padding-top: 10px;
}

.about {
  background: #2dcc70;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 100px;
  width:80%;
}

.about p {
  font-size: 1.4em;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.sort select{
  background: rgba(69,69,69,.7);
}

.request {
  background: rgba(69,69,69,.7);
  color: #fff;
  padding-top: 2px;
  padding-bottom: 1.5px;
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.request a {
  color: #2dcc70;
}

#footer {
  background: #333;
  padding-top: 7px;
  padding-bottom: 15px;
  color: #666;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/*end main page css*/


/*custom button css*/
#mainButtons {
  margin-top: 30px;
  text-align: center;
}

#busButton {
  margin-left: 40%;
}

.btn-default {
  border-color: white;
  background-color: transparent; 
  color: white;
  border-width: 3px;
}

.btn-default:hover {
  color: black;
  background-color: #FFF;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.custom-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  border: 0;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px;
}

.btn-primary {
  background-color: #2dcc70;
}

.btn-primary:hover {
  background-color: #24a259;
}

/*also in media size*/
.btn-xl {
  height: 100px;
  width: 300px;
  font-weight: bold;
  font-size: 30pt;
}
/*end custom button css*/


/*rides / row css*/
.pubRow {
  padding-top: 15px;
}

.rides {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
}

/*also in media size*/
.rides form input {
  width: 50%;
}

.rides form {
  padding-top: 15px;
}

.rides .form-horizontal input {
  margin-left: 25%;
}

.ridecontainer {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.ridecontainer a {
  color: white;
}

.ridecontainer .well {
  padding-bottom: 10px;
}

.ridecontainer iframe {
  min-width: 200px;
  width: 100%;
  min-height: 425px;
}

.rides:hover {
  background-color: rgba(69,69,69,.9);
}
/*end rides / row css*/


/*signup page css*/
.signup {
  padding-top: 50px;
}

.signup button {
  margin-top: 75px;
}

/*also in media size*/
.signup .well {
  width: 100%;
}

.signupButton {
  margin-top: -30px;
}
/*end singup page css*/


/*team page css*/
.team {
  padding-left: 100px;
}

.profile_img {
  width: 100px;
  border-radius: 20px;
  padding-bottom: 10px;
}
/*end team page css*/

@media (max-width: 400px) {
  .signup .well {
    width: 90%;
    text-align: center;
    margin-left: 5%; 
  }

  .signup form input {
    width: 80%;
  }

  .rides {
    width: 90%;
  }

  .rides .form-horizontal input {
    margin-left: 10%;
  }

  .rides form input {
    width: 80%;
  }

  #home {
    position: relative;
    transform: translateY(15%);
  }

  #home section {
    font-size: 0.7em;
  }

  .settings .well {
    width: 90%;
  }

  .settings .form-horizontal .form-group {
    margin-left: -20%;
  }
}


/*for when screen is smaller than 700px*/
@media (min-width: 400px) and (max-width: 700px) {
  .signup .well {
    width: 40%;
    text-align: center;
    margin-left: 30%; 
  }

  .rides {
    width: 70%;
  }

  .rides .form-horizontal input {
    margin-left: 20%;
  }

  .rides form input {
    width: 60%;
  }

  .settings .well {
    width: 70%;
  }
}

/*for when screen is bigger than 700px but less than 768px*/
@media (min-width: 700px) and (max-width: 768px) {
  .signup .well {
    width: 50%;
    text-align: center;
    margin-left: 30%; 
    padding-left: -10px;
  }

}

/*for when screen is medium size*/
@media (max-width: 767px) {
  .navbar-header img {
    margin-bottom: 0px;
    padding-top: 15px;
  }

  .settings .form-horizontal .form-group {
    text-align: center;
  }

  .dropdown {
    margin-left: 15px;
  }

  .dropdown-menu {
    margin-top: 20px;
  }

  .dropdown-menu li {
    margin-left: -10px;
    width: 35px;
  }

  .settings .well {
    width: 80%;
  }

  .settings .form-horizontal .form-group {
    margin-left: -10%;
  }

  #notificationsDiv img {
    margin-left: -100px;
    margin-top: -55px;
  }

  .noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 1px;
    margin-top: -32px;
    left: 2px;
    margin-left: -85px;
    margin-right: 73px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;
  }
}

@media (min-width: 768px) {
  #notificationsDiv img {
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 15px;
  }
}

/*for when screen size is bigger than medium size but smaller than large size*/
@media (min-width: 768px) and (max-width: 992px) {
  .signup .form-horizontal {
    margin-left: -100px; 
  }

  .rides {
    width: 60%;
  }

  .rides .form-horizontal input {
    margin-left: 25%;
  }

  .rides form input {
    width: 50%;
  }

  .settings .well {
    width: 60%;
  }

  
}

@media (min-width: 768px) and (max-width: 800px) {
  .navbar a {
    margin-left: -10px;
  }
}

/*for when screen is smaller than large size*/
@media (max-width: 992px) {
  h1 {
    font-size: 2.2em;
  }

  .page-header {
    height: 30px;
  }

  .nav.navbar-nav li a {
    font-size: 1.05em;
  }

  #mainButtons button {
    font-size: 1.5em;
  }

  .btn-xl {
    height: 75px;
    width: 200px;
  }

  .middle {
    margin-top: 35px;
    min-height: 10px;
    background-color: rgba(0,0,0,0.05);
  }
}

/*for when the screen is bigger than large size*/
@media (min-width: 992px) {
  .nav.navbar-nav li a {
    font-size: 1.3em;
  }

  .middle {
    margin-top: 45px;
    min-height: 10px;
    background-color: rgba(0,0,0,0.05);
  }

  .signup .form-horizontal {
    margin-left: -50px;
  }

  #carid {
    margin-top: 30px;
  }

  .dropdown {
    margin-top: 12px;
    font-size: 1.3em;
  }

  .settings .well {
    width: 60%;
  }
}


/*home page css based on height of window*/
@media (max-height: 500px) and (max-width: 400px){
  #home {
    position: relative;
    transform: translateY(10%);
  }

  #home section {
    font-size: 0.7em;
  }

  .about {
    margin-top: 30px;
  }
}

@media (min-height: 500px) and (max-height: 600px) {
  #home {
    position: relative;
    transform: translateY(30%);
  }

  .about {
    margin-top: 40px;
  }
}
/*end home page css based on height of window*/


tbody {
  color: black;
}

thead {
  /*color: #2dcc70;*/
}

.settings {
  margin-top: 15px;
}

.tab-content {
  margin-top: 15px;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0.7);
  min-width: 85px;
}

.offer .well {
  width: 60%;
  padding-bottom: 10px;
}

#notificationsDiv {
  /*margin-top: -40px;*/
  background-color: red;
}

#notificationsDiv img {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

#notificationsDiv .dropdown {
  margin-top: 0px;
}

.notifications {
 min-width:420px; 
}
  
.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}
    
.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.notification-heading, .notification-footer  {
  padding:2px 10px;
}
      
        
.dropdown-menu.divider {
  margin:5px 0;          
}

.item-title {
  font-size:1.3rem;
  color:#000;  
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;
}
    
.notification-item {
  padding:10px;
  margin:5px;
  background:#ccc;
  border-radius:4px;
}

.noti_Container {
  position:relative;     /* This is crucial for the absolutely positioned element */
  width:16px;
  height:16px;
}

.noti_bubble {
  position:absolute;    /* This breaks the div from the normal HTML document. */
  top: -10px;
  right: 2px;
  padding:1px 2px 1px 2px;
  background-color:red; /* you could use a background image if you'd like as well */
  color:white;
  font-weight:bold;
  font-size:0.55em;

  /* The following is CSS3, but isn't crucial for this technique to work. */
  /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
  /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
  border-radius:30px;
  box-shadow:1px 1px 1px gray;
}

.notSeen {
  background-color: rgb(45, 204, 112);
}