/*webpage*/
html {
  margin:0;
  padding:0;
  height:100%; 
}

body {
  background: rgba(27, 81, 177, 0.6) url("../imgs/citystreet.jpg") no-repeat fixed center;
  background-size: cover;
  color: white;
  height:100%; 
  margin:0;
  padding:0;
}

.btn-default {
	border-color: white;
	background-color: transparent; 
	color: white;
	border-width: 3px;
}

.btn-default:hover {
  color: black;
  background-color: #FFF;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.container-fluid{
  height:90%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 90%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

.page-header {
  padding: 10px 0 10px 0;
  margin: 0px;
  border-bottom: 0px;
  background-color: rgba(0,0,0,0.7);
}

.logo {
  width: 20%;
  height: 20%;
  margin-left: 10px;
}

.custom-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px;
    border: 0;
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-primary {
    background-color: #2dcc70
}

.btn-primary:hover {
    background-color: #24a259
}

.btn-xl{
    height: 100px;
    width: 300px;
    font-family: "Fjalla One";
    font-weight: bold;
    font-size: 30pt;
}