<div>
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="about centering">
        <p>Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI
            students to share rides to and from school. We also aim to make it easier for studnets to get information
            about public transportation options such as trains, RPI Shuttles, and CDTA busses.</p>
    </section>

    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span6">

        <!-- Meet the team -->
        <h1 class="center">Meet the Team</h1>

        <hr>

        <div class="row-fluid">
            <div class="span3">
                <div class="box">
                    <p><img src="images/sample/team1.jpg" alt=""></p>
                    <h5>Leonard M. Spurlock</h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>

            <div class="span3">
                <div class="box">
                    <p><img src="images/sample/team2.jpg" alt=""></p>
                    <h5>David J. Robbins</h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>

            <div class="span3">
                <div class="box">
                    <p><img src="images/sample/team4.jpg" alt=""></p>
                    <h5>Thomas M. Morgan</h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>

            <div class="span3">
                <div class="box">
                    <p><img src="images/sample/team3.jpg" alt=""></p>
                    <h5>Agustin E. Hightower</h5>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a
                        class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a
                        class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a
                        class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p></p>
        <hr>

    </section>
</div>