<div ng-controller="busesCtrl">
  <section class="title">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h1>Buses</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="bus">
    <div class="col-sm-6">
      <div class="well">
        <h3>CDTA Bus Destinations</h3>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchbar" placeholder="Enter a destination...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="search()" ng-disabled="!loaded">Go!</button>
          </span>
        </div><!-- /input-group -->
        <div ng-repeat="i in bus.stops">
          <h4>{{ escapeHTML(i.name) }}</h4>
          <div ng-repeat="thing in i.serviced_by">
            <ul>
              Serviced by:
              <li>{{thing.route_id}} &mdash; {{thing.direction}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3>CDTA Bus Routes</h3>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchbar_d" placeholder="Enter a bus number...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="directions()" ng-disabled="!loaded">Go!</button>
          </span>
        </div><!-- /input-group -->
        <button class="btn btn-primary" ng-hide="!data_pres" ng-click="checkRoute('1')">
          {{bus.directions[0].direction}}
        </button>
        <button class="btn btn-primary" ng-hide="!data_pres" ng-click="checkRoute('2')">
          {{bus.directions[1].direction}}
        </button>
        <h3>{{br.direction.direction_name}}</h3>
        <div ng-repeat="z in br.direction.stops">
          <p>{{z.stop_name}} &mdash; ({{z.stop_id}})</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3>CDTA Bus Stop Arrivals</h3>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchbar_id" placeholder="Enter a stop ID number...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="stop_id()" ng-disabled="!loaded">Go!</button>
          </span>
        </div><!-- /input-group -->
        <div ng-repeat="q in arrs.arrivals">
          <h3>{{q.route_id}} &mdash; {{q.direction}}</h3>
          <p>Arriving in: {{q.arrival_minutes}} minutes</p>
          <p>Scheduled to arrive at: {{q.arrival_time}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well" data-ng-init="refresh_outages()" >
        <h3>CDTA Service Disruptions</h3>
        <h4>{{ outage.alerts[0].header }}</h4>
        <p>{{outage.alerts[0].message}}</p>
        <div id ="busButton">
          <button class="btn btn-success centering" type="submit" ng-click="refresh_outages()" ng-disabled="!loaded">
          	Refresh Status
          </button>
        </div>
      </div>
    </div>
  </div>
