<!-- Home Page -->
<div id="home">
	<!-- Login and Sign Up Buttons -->
	<div class="container-fluid" ng-controller="loginCtrl">
		<div class="row-fluid">
		  <div class="centering text-center">
		    <button type="button" class="btn btn-default btn-xlarge" ng-click="login()">Login</button>
		    <button type="button" class="btn btn-default btn-xlarge" ng-click="signUp()">Sign Up</button>
		  </div>
		</div>
	</div>
	<!-- Close Login and Sign Up Buttons -->

	<!-- About Us Section -->
	<section class="about centering">
  		<p>Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI students to share rides to and from school.</p>
  	</section>
  	<!-- Close About Us Section -->
</div>