
<div ng-controller="logoutCtrl">


	<section class="title">
	    <div class="container">
	        <div class="row-fluid">
	            <div class="span6">
	                <h1>Pick a Service</h1>
	            </div>
	        </div>
	    </div>
	</section>
	<section id="about-us" class="container main">
	    <div id="3Buttons">
	        <button class="custom-btn btn-primary btn-xl">I need a ride</button>
	        <button class="custom-btn btn-primary btn-xl">I can give a ride</button>
	        <button class="custom-btn btn-primary btn-xl">Public Transit</button>
	    </div>
	</section>

</div>