<div>
  <section class="title">
    <div class="container">
      <div class="page-header">
        <h1>Pick a Service</h1>
      </div>
    </div>
  </section>

  <section id="about-us" class="container main">
    <div id="mainButtons">
      <a href="#/rides/requestRide"><button class="custom-btn btn-primary btn-xl col-xl-4">I need a ride</button></a>
      <a href="#/rides/addRide"><button class="custom-btn btn-primary btn-xl col-xl-4">I can give a ride</button></a>
      <a href="#/publicTransit"><button class="custom-btn btn-primary btn-xl col-xl-4">Public Transit</button></a>
    </div>
  </section>

</div>