
<div ng-controller="logoutCtrl">

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Pick a Service</h1>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->

<section id="about-us" class="container main">
    <div id="3Buttons">
        <button class="custom-btn btn-primary btn-xl">I need a ride</button>
        <button class="custom-btn btn-primary btn-xl">I can give a ride</button>
        <button class="custom-btn btn-primary btn-xl">Public Transit</button>
    </div>
</section>


<!--  Login form -->
<div class="modal hide fade in" id="loginForm" aria-hidden="false">
    <div class="modal-header">
        <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        <h4>Login Form</h4>
    </div>
    <!--Modal Body-->
    <div class="modal-body">
        <form class="form-inline" action="index.html" method="post" id="form-login">
            <input type="text" class="input-small" placeholder="Email">
            <input type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <a href="#">Forgot your password?</a>
    </div>
    <!--/Modal Body-->
</div>
<!--  /Login form -->

