<div class= "container-fluid" >
  <section class="title">
    <div class="container">
      <div class="page-header">
        <h1>Planes</h1>
      </div>
    </div>
  </section>

  <div class="ridecontainer" ng-repeat="companyInfo in planearray">
    <div class="rides row well">
      <div class="pubRow">
        <div class="col-md-3">
          <img ng-src="/resources/imgs/{{companyInfo['logo']}}" alt="plane logo" height="100" width="150">
        </div>
        <div class="col-md-8">
          <p> Company: {{companyInfo['Airline']}}</p>
          <p> Phone: {{companyInfo['Phone']}}</p>
          <p> Website: <a href= {{companyInfo['Website']}}>{{companyInfo['Website']}}</a> </p>
          <p> Flys to Albany Airport: {{companyInfo['Albany']}}</p>
        </div>
      </div>
    </div>
  </div>

</div>