
<div ng-controller="landingCtrl">
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Public Transit</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->


    <section id="about-us" class="container main">
      <div id="mainButtons">
        <a href="#/train"><button class="custom-btn btn-primary btn-xl col-md-3">Trains</button></a>
        <a href="#/bus"><button class="custom-btn btn-primary btn-xl col-md-3">Busses</button></a>
        <a href="#/taxi"><button class="custom-btn btn-primary btn-xl col-md-3">Taxis</button></a>
        <a href="#/plane"><button class="custom-btn btn-primary btn-xl col-md-3">Planes</button></a>
      </div>
    </section>

</div>