<div ng-controller="landingCtrl">
    <section class="title">
        <div class="container">
            <div class="page-header">
                <h1>Public Transit</h1>
            </div>
        </div>
    </section>
    <!-- / .title -->


    <section id="about-us" class="container main">
      <div id="mainButtons">
        <a href="#/shuttle"><button class="custom-btn btn-primary btn-xl col-md-2">RPI Shuttles</button></a>
        <a href="#/train"><button class="custom-btn btn-primary btn-xl col-md-2">Trains</button></a>
        <a href="#/buses"><button class="custom-btn btn-primary btn-xl col-md-2">Buses</button></a>
        <a href="#/taxi"><button class="custom-btn btn-primary btn-xl col-md-2">Taxis</button></a>
        <a href="#/plane"><button class="custom-btn btn-primary btn-xl col-md-2">Planes</button></a>
	  </div>
  </section>

</div>