<div class="container-fluid">
    <section class="title row-">
        <div class="container">
            <div class="page-header">
                <h1>{{title}}</h1>
            </div>
        </div>
    </section>
    <div class="offer">
        <div ng-show='offer' class="well centering">
        <!-- singular offer display -->
            <div class="centering text-center">
                <p>Driver: {{rcs}}</p>
                <p>Departure Location: {{depart_local}}</p>
                <p>Departure Date: {{depart_date | date: 'shortDate'}}</p>
                <p>Departure Time: {{depart_time | date: 'shortTime'}}</p>
                <p>Destination: {{destination}}</p>
                <p>Seats Availible: {{seats_avil}}</p>
                <p>Total Seats: {{total_seats}}</p>
                <p> Cost if any: {{cost}}</p>
                <p>Car Make & Model: {{car_make}} {{car_model}} || License: {{car_license}}</p>
                <p>Car Color: {{car_color}}</p>
                <div ng-show="owner" class="pending" ng-repeat="user in pendingarray">
                    <p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="add_user(user.rcs)">Accept</button><button class="btn btn-default btn-md" ng-click="reject_user(user.rcs)">Reject</button> </p>
                </div>
                <div ng-show="owner" class="accepted" ng-repeat="user in acceptedarray">
                    <p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="remove_user(user.rcs)">Remove</button> </p>
                </div>
                <div ng-show="owner_and_available_check()" class="join">
                    <button ng-show="!joined" type='button' class="btn btn-default btn-md" ng-click="join_offer()"> Request to Join </button>
                </div>
            </div>
        </div>
    
        <div ng-show='ride' class="well centering"><!-- singular ride request display -->
            <div class="centering text-center">
                <p>Requester: {{ride_owner}}</p>
                <p>Departure Location: {{depart_local}}</p>
                <p>Departure Date: {{depart_date | date: 'shortDate'}}</p>
                <p>Departure Time: {{depart_time | date: 'shortTime'}}</p>
                <p>Destination: {{destination}}</p>
                <p>Willing to Offer: {{cost}}</p>
                <div ng-show="owner2" class="pending" ng-repeat="user in pendingDrivers">
                    <p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="accept_driver(user.rcs)">Accept</button><button class="btn btn-default btn-md" ng-click="reject_driver(user.rcs)">Reject</button> </p>
                </div>
                <div ng-show="acceptedDriver_Bool" ng-repeat="user in acceptedDriver">
                    <p> {{user.rcs}} is the driver that was accepted.</p>
                    <div ng-show="owner2"><button class="btn btn-default btn-md" ng-click="reject_driver(user.rcs)">Remove</button> </div>
                </div>
                <div ng-show="owner_and_available_check2()" class="join">
                    <button ng-show="!joined2" type='button' class="btn btn-default btn-md" ng-click="join_offer2()"> Request to Drive </button>
                </div>
            </div>
        </div>
    </div>
</div>