<!-- Singular Ride Page -->
<div class="container-fluid">
	<!-- Title -->
  	<section class="title row-">
		<div class="container">
	  		<div class="page-header">
				<h1>{{title}}</h1>
	  		</div>
		</div>
  	</section>
  	<!-- Close title -->

	<div class="offer">
		<div ng-show='offer' class="well centering">
		<!-- Singular offer display -->
			<div class="centering text-center">
				<p><span class="rlabel">Driver:</span> {{rcs}}</p>
				<p><span class="rlabel">Departure Location:</span> {{depart_local}}</p>
				<p><span class="rlabel">Departure Date:</span> {{depart_date | date: 'shortDate'}}</p>
				<p><span class="rlabel">Departure Time:</span> {{depart_time | date: 'shortTime'}}</p>
				<p><span class="rlabel">Destination:</span> {{destination}}</p>
				<p><span class="rlabel">Seats Availible:</span> {{seats_avil}}</p>
				<p><span class="rlabel">Total Seats:</span> {{total_seats}}</p>
				<p><span class="rlabel">Cost (if any):</span> {{cost}}</p>
				<p><span class="rlabel">Car Make &amp; Model:</span> {{car_make}} {{car_model}}<p>
				<p><span class="rlabel">License Plate:</span> {{car_license}}</p>
				<p><span class="rlabel">Car Color:</span> {{car_color}}</p>
				<div ng-show="owner" class="pending" ng-repeat="user in pendingarray">
					<p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="add_user(user.rcs)">Accept</button><button class="btn btn-default btn-md" ng-click="reject_user(user.rcs)">Reject</button> </p>
				</div>
				<div ng-show="owner" class="accepted" ng-repeat="user in acceptedarray">
					<p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="remove_user(user.rcs)">Remove</button> </p>
				</div>
				<div ng-show="owner_and_available_check()" class="join">
					<button ng-show="!joined" type='button' class="btn btn-default btn-md" ng-click="join_offer()"> Request to Join </button>
				</div>
			</div>
		</div>
		<!-- Close singular ride display -->
	
		<!-- Singular ride request display -->
		<div ng-show='ride' class="well centering">
			<div class="centering text-center">
				<p><span class="rlabel">Requester:</span> {{ride_owner}}</p>
				<p><span class="rlabel">Departure Location:</span> {{depart_local}}</p>
				<p><span class="rlabel">Departure Date:</span> {{depart_date | date: 'shortDate'}}</p>
				<p><span class="rlabel">Departure Time:</span> {{depart_time | date: 'shortTime'}}</p>
				<p><span class="rlabel">Destination:</span> {{destination}}</p>
				<p><span class="rlabel">Willing to Offer:</span> {{cost}}</p>
				<div ng-show="owner2" class="pending" ng-repeat="user in pendingDrivers">
					<p> {{user.rcs}} is {{user.status}} <button class="btn btn-default btn-md" ng-click="accept_driver(user.rcs)">Accept</button><button class="btn btn-default btn-md" ng-click="reject_driver(user.rcs)">Reject</button> </p>
				</div>
				<div ng-show="acceptedDriver_Bool" ng-repeat="user in acceptedDriver">
					<p> {{user.rcs}} is the driver that was accepted.</p>
					<div ng-show="owner2"><button class="btn btn-default btn-md" ng-click="reject_driver(user.rcs)">Remove</button> </div>
				</div>
				<div ng-show="owner_and_available_check2()" class="join">
					<button ng-show="!joined2" type='button' class="btn btn-default btn-md" ng-click="join_offer2()"> Request to Drive </button>
				</div>
			</div>
		</div>
		<!-- Close singular ride request display -->
	</div>
</div>