<div class="container-fluid">
  <section class="title row-">
    	<div class="container">
        	<div class="page-header">
                <h1>{{title}}</h1>
            </div>
        </div>
    </section>
  
	<div ng-show="ridesavail" class=""> 
  <!-- Only show rides available on ridesoffered -->
		    <section class="request">
			     <h4>Want to offer a ride that isn't listed? Add one <a href="#/rides/addRide">here</a>.</h4>
				<section class="sort">
					Sort by:
					<select ng-model="off_value">
						<option value="destination">Destination</option>
						<option value="departLocation">Start Location</option>
						<option value="['departDate','departTime']">Departing Date</option>
					</select>
				</section>
		    </section>
	  <div class="centering text-center">
		 	<div class="ridecontainer" ng-repeat="offer in offerarray | orderBy:off_value">
				<a href="#/rides/offer?id={{offer['_id']}}">
					<div class="rides row well">
						<div class="pubRow">
							<div class="col-md-6">
								<p> <span class="rlabel">Destination:</span> {{offer['destination']}} </p>
								<p> <span class="rlabel">Date &amp; Time:</span> {{offer.departDate | date: 'shortDate'}} at {{offer.departTime | date: 'shortTime'}} </p>
								<p> <span class="rlabel">Leaving From:</span> {{offer['departLocation']}}</p>
							</div>
							<div class="col-md-6">
								<p> <span class="rlabel">Driver:</span> {{offer['owner']}}</p>
								<p> <span class="rlabel">Car Make &amp; Model:</span> {{offer['car']['make']}} {{offer['car']['model']}}</p>
								<p> <span class="rlabel">Seats Left:</span> {{offer['availableseats']}}/{{offer['seats']}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>	  
		</div>
	</div>
	<div ng-show='needed' class="needrides"><!-- Only show rides needed on ridesneeded -->
		<section class="request">
			<h4>Need a ride that isn't listed? Request one <a href="#/rides/requestRide">here</a>.</h4>
			<section class="sort">
				Sort by:
				<select ng-model="need_value">
					<option value="destination">Destination</option>
					<option value="departLocation">Start Location</option>
					<option value="['departDate','departTime']">Departing Date</option>
				</select>
			</section>
		</section>
	  <div class="centering text-center">
		  	<div class="ridecontainer" ng-repeat="needed in needarray  | orderBy:need_value">
				<a href="#/rides/ride?id={{needed['_id']}}">
					<div class="rides row well">
            			<div class="pubRow">
  							<div class="col-md-6">
  								<p> <span class="rlabel">Person:</span> {{needed.rcs}} </p>
  								<p> <span class="rlabel">Time:</span> {{needed.departDate | date:'shortDate'}} / {{needed.departTime | date:'shortTime'}} </p>
  							</div>
  							<div class="col-md-6">
  								<p> <span class="rlabel">Destination:</span> {{needed.destination}} </p>
  								<p> <span class="rlabel">Offer: </span>{{needed.cost}} </p>
  							</div>
  						</div>
					</div>
				</a>
			</div>	  
		</div>
	</div>
</div>