<div class="container-fluid">
  <section class="title">
      <div class="container">
          <div class="page-header">
            <h1>{{title}}</h1>
          </div>
      </div>
  </section>

  <div class = "rides well well-lg">
    <form name="rideForm" class="form-horizontal">

      <div class="form-group">
        <label class="control-label">Departure Location</label>
        <input type="string" class="form-control" id="autocomplete" ng-autocomplete ng-model="rideInfo.departLocation" >
      </div>

      <div class="form-group">
        <label class="control-label">Departure Date</label>
        <input type="date" class="form-control" ng-model="rideInfo.departDate" placeholder="mm/dd/yyyy" >
      </div>

      <div class="form-group">
        <label class="control-label">Departure Time</label>
        <input type="time" class="form-control" ng-model="rideInfo.departTime" placeholder="--:-- --" >
      </div>
      
      <label class="control-label">Destination</label>
      <div class="form-group">
        <input type="string" class="form-control" ng-autocomplete ng-model="rideInfo.destination" >
      </div>

      <label class="control-label">Cost</label>
      <div class="form-group">
        <input type="string"class="form-control" ng-model="rideInfo.cost" >
      </div>
      
      <div ng-show='add'>
        <label class="control-label">Available Seats</label>
        <div class="form-group">
          <input type="Number" class="form-control" ng-model="rideInfo.seats" >
        </div>
      </div>

      <div ng-show="add" id="carInfoForm">
        <h3>Car Information</h3>
        <label class="control-label">Make</label>
        <div class="form-group">
          <input type="string" class="form-control" ng-model="rideInfo.car.make" >
        </div>

        <label class="control-label">Model</label>
        <div class="form-group">
          <input type="string" class="form-control" ng-model="rideInfo.car.model"  >
        </div>

        <label class="control-label">Color</label>
        <div class="form-group">
          <input type="string" class="form-control" ng-model="rideInfo.car.color" >
        </div>

        <label class="control-label">License Plate #</label>
        <div class="form-group">
          <input type="string" class="form-control" ng-model="rideInfo.car.license" >
        </div>
      </div>

      <div class ="rideButton mainButtons">
        <button type="button" class="custom-btn btn-primary btn-xlarge" ng-click="submit()" ng-disabled="rideForm.$invalid">Submit</button>
      </div>
    </form>
    
  </div>
  
</div>
