<!-- Signup Page -->
<div class = "container">
  <div class = "signup">
    <div class="well well-md">

      <!-- Sign up form -->
      <form name="signUpForm" class="form-horizontal">
        
        <label class="col-sm-6 control-label form-text">First Name:</label>
        <div class="form-group">
            <input  type="text" ng-model="newUser.firstName" placeholder="First Name" required>
        </div> 
        
        <label class="col-sm-6 control-label form-text">Last Name:</label>
        <div class="form-group">
            <input type="text" ng-model="newUser.lastName" placeholder="Last Name" required>
        </div>

      </form>
      <!-- Close sign up form -->

      <div id ="signupButton">
        <button class="btn btn-success center-block"  ng-click="signUp(newUser)" ng-disabled="signUpForm.$invalid">
          Sign Up!
        </button>
      </div>
    </div>
  </div>
</div>