<div class= "container-fluid" ng-controller="taxiCtrl">
  <section class="title">
      <div class="container">
          <div class="page-header">
            <h1>Taxi</h1>
          </div>
      </div>
  </section>

  <div class="ridecontainer" ng-repeat="companyInfo in taxiarray">
    <div class="rides row well">
      <div class="pubRow">
        <div class="col-md-3">
          <img src="/resources/imgs/taxi.png" alt="Taxi Image" height="80" width="110">
        </div>
          <p> Company: {{companyInfo['Company']}}</p>
          <p> Phone: {{companyInfo['Phone']}}</p>
          <p> Website: <a href= {{companyInfo['Website']}}>{{companyInfo['Website']}}</a> </p>
      </div>
    </div>
  </div>

</div>