<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Meet the Team</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3 class="center">Rachel Blacker</h3>
            <img class="profile_img" src="./img/sil.jpg">
            <p class="text-justify">Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI students to share rides to and from school. We also aim to make it easier for</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>Shawn Minarik</h3>
            <img class="profile_img" src="./img/sil.jpg">
            <p class="text-justify">Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI
                students to share rides to and from school. We also aim to make it easier for</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>Chris Renus</h3>
            <img class="profile_img" src="./img/sil.jpg">
            <p class="text-justify">Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI students to share rides to and from school. We also aim to make it easier for</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>David Sparkman</h3>
            <img class="profile_img" src="./img/sil.jpg">
            <p class="text-justify">Take Me Home Tonight is a car sharing service application. This web application should be used to allow RPI students to share rides to and from school. We also aim to make it easier for</p>
        </div>
    </div>
</div>