<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Meet the Team</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>Rachel Blacker</h3>
            <img class="center-block profile_img" src="resources/imgs/rachel.jpg">
            <p class="text-center">Rachel Blacker was born and raised outside Washington, DC. She is currently a sophomore Information Technology Web Science and Business Management dual major. In her free time you will find her relaxing with her sorority sisters or on a Habitat for Humanity Build.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>Shawn Minarik</h3>
            <img class="center-block profile_img" src="resources/imgs/shawn.jpg">
            <p class="text-center">Shawn Mirarik was born and raised in Schenectady, NY. He is currently a senior Information Technology Web Science major concentrating in Computer Networking. In his free time you will find him working at _________ or playing video games.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>Chris Renus</h3>
            <img class="center-block profile_img" src="resources/imgs/chris.jpg">
            <p class="text-center">Chris Renus was born and raised in New Paltz, NY. He is currently a senior Information Technology Web Science and Computer Sciecne dual major. In his free time you will find him scolding freshman or hanging out with his dog.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="well well-lg">
            <h3>David Sparkman</h3>
            <img class="center-block profile_img" src="resources/imgs/david.jpg">
            <p class="text-center">David Sparkman grew up near San Jose, California. He is currently a sophomore Information Technology Web Science major concentrating in Computer Networking. In his free time you will find him hanging out at the RPI Ambulance Office or out on the job.</p>
        </div>
    </div>
</div>