<div class= "settings centering">
  <div class="container well">
    <uib-tabset>
      <uib-tab heading="Profile">
        <form name="editUserForm" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">First Name: </label>
            <div class="col-sm-9">
              <input  type="text" ng-model="editUser.firstName" placeholder="First Name" required>
            </div> 
          </div> 
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">Last Name: </label>
            <div class="col-sm-9">
              <input type="text" ng-model="editUser.lastName" placeholder="Last Name" required>
            </div>
          </div>
          <h3>Vehicle</h3>
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">Make: </label>
            <div class="col-sm-9">
              <input type="text" ng-model="editUser.car.make" placeholder="Car Make">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">Model: </label>
            <div class="col-sm-9">
              <input type="text" ng-model="editUser.car.model" placeholder="Car Model">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">Color: </label>
            <div class="col-sm-9">
              <input type="text" ng-model="editUser.car.color" placeholder="Car Color">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">License Plate:</label>
            <div class="col-sm-9">
              <input type="text" ng-model="editUser.car.license" placeholder="Plate #">
            </div>
          </div>
        </form>
        <button class="btn btn-success center-block"  ng-click="save(editUser)" ng-disabled="editUserForm.$invalid">
          Save Changes
        </button>
      </uib-tab>

    <uib-tab heading="Offered Rides">
      <h2>Available Offered Rides</h2>
      <uib-accordion style="color:black">
        <uib-accordion-group ng-repeat="ride in offeredRides">
          <uib-accordion-heading style="color:black !important;">
            {{ride.destination}} {{ride.departDate | date: 'shortDate'}} {{ride.departTime | date: 'shortTime'}}
          </uib-accordion-heading>
          Seats Left: {{ride.availableseats}}
          <button class="pull-right" ng-click="removeRideOffer(ride._id)">Delete Ride</button>
          <table class="table table-striped">
            <thead><tr>
              <th>Status</th>
              <th>Passengers<th>
            </tr></thead>
            <tbody>
              <tr ng-repeat="rider in ride.riders" ng-if="ride.availableseats != 0 || (ride.availableseats == 0 && rider.status == 'accepted')">
                <td>
                  <button ng-if="rider.status == 'pending' && ride.availableseats != 0" ng-click="confirmRider(ride._id, rider.rcs)">Confirm</button>
                  <button ng-click="removePendingRider(ride._id, rider.rcs)">Remove</button>
                </td>
                <td>{{rider.rcs}}</td>
              <tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>

      <h3>Offers for Needed Rides</h3>
      <table class="table table-striped">
        <thead><tr>
          <th>Status</th>
          <th>Destination</th>
          <th>Time</th>
          <th>Cost</th>
        </tr></thead>
        <tbody style="color:black">
          <tr ng-repeat="ride in neededRidesDriver">
            <td>{{ride.drivers[0].status}}</td>
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <td>
              <button ng-click="removeNeededRideOfferDriver(ride._id)">Remove</button>
            </td>
            <!--<td>{{ride.car.color + ' ' + ride.car.make + ' ' + ride.car.model}}</td>-->
          <tr>
        </tbody>
      </table>
    </uib-tab>

    <uib-tab heading="Requested Rides">
      <h2>Needed Rides</h2>
      <uib-accordion style="color:black">
        <uib-accordion-group ng-repeat="ride in neededRidesRider">
          <uib-accordion-heading style="color:black !important;">{{ride.destination}} {{ride.departDate | date: 'shortDate'}} {{ride.departTime | date: 'shortTime'}}</uib-accordion-heading>
          <button class="pull-right" ng-click="removeNeededRide(ride._id)">Delete Ride Request</button>
          <table class="table table-striped">
            <thead><tr>
              <th>Confirm</th>
              <th>Driver</th>
            </tr></thead>
            <tbody>
              <tr ng-repeat="driver in ride.drivers" ng-if="(ride.accepted == undefined || ride.accepted == false) || (ride.accepted == true && driver.status == 'accepted')">
                <td>
                  <button ng-show="driver.status == 'pending'" ng-click="confirmDriver(ride._id, driver.rcs)">Confirm</button>
                  <button ng-click="removeDriver(ride._id, driver.rcs)">Remove</button>
                </td> 
                <!--<td ng-if="driver.status == 'accepted'">Confirmed!</td>-->
                <td>{{driver.rcs}}</td>
              <tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>

      <h2>Requested Rides</h2>
      <table class="table table-striped">
        <thead><tr>
          <th>Status</th>
          <th>Destination</th>
          <th>Time</th>
          <th>Cost</th>
          <th>Car</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="ride in requestedRides">
            <td>{{ride.riders[0].status}}</td>
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <td>{{ride.car.year + ' ' + ride.car.make + ' ' + ride.car.model}}</td>
            <td>
              <button ng-click="removeRequestForAvailableRide(ride._id)">Remove</button>
            </td>
          <tr>
        </tbody>
      </table>



      </uib-tab>
    </uib-tabset>
  </div>
</div>