

<div class="container">
  <uib-tabset>
    <uib-tab heading="Profile">
      <form name="editUserForm" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">First Name: </label>
          <div class="col-sm-9">
            <input  type="text" ng-model="editUser.firstName" placeholder="First Name" required>
          </div> 
        </div> 
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Last Name: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.lastName" placeholder="Last Name" required>
          </div>
        </div>
        <h3>Vehicle</h3>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Make: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.make" placeholder="Car Make">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Model: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.model" placeholder="Car Model">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Color: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.color" placeholder="Car Color">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">License Plate:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.license" placeholder="Plate #">
          </div>
        </div>
      </form>
      <button class="btn btn-success pull-left"  ng-click="save(editUser)" ng-disabled="editUserForm.$invalid">
        <span class="glyphicon glyphicon-save"></span>Save Changes!
      </button>
    </uib-tab>

    <uib-tab heading="Confirm Offered Rides">
      <uib-accordion style="color:black">
        <uib-accordion-group ng-repeat="ride in offeredRides">
          <uib-accordion-heading style="color:black !important;">{{ride.destination}}</uib-accordion-heading>
          <p>Seats Left: {{ride.availableseats}}<p>
          <table ng-if="ride.availableseats != 0" class="table table-striped">
            <tbody>
              <tr ng-repeat="rider in ride.riders">
                <td ng-if="rider.status == 'pending'"><button ng-click="confirmRider(ride._id, rider.rcs)">Confirm</button></td> 
                <td ng-if="rider.status == 'accepted'">Confirmed!</td>
                <td>{{rider.rcs}}</td>
              <tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>
    </uib-tab>

    <uib-tab heading="Check Requested Rides">
      
    </uib-tab>
  </uib-tabset>
</div>