

<div class="container">
  <uib-tabset>
    <uib-tab heading="Profile">
      <form name="editUserForm" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">First Name: </label>
          <div class="col-sm-9">
            <input  type="text" ng-model="editUser.firstName" placeholder="First Name" required>
          </div> 
        </div> 
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Last Name: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.lastName" placeholder="Last Name" required>
          </div>
        </div>
        <h3>Vehicle</h3>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Make: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.make" placeholder="Car Make">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Model: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.model" placeholder="Car Model">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">Color: </label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.color" placeholder="Car Color">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label form-text">License Plate:</label>
          <div class="col-sm-9">
            <input type="text" ng-model="editUser.car.license" placeholder="Plate #">
          </div>
        </div>
      </form>
      <button class="btn btn-success pull-left"  ng-click="save(editUser)" ng-disabled="editUserForm.$invalid">
        Save Changes!
      </button>
    </uib-tab>

    <uib-tab heading="Offered Rides">
      <uib-accordion style="color:black">
        <uib-accordion-group ng-repeat="ride in offeredRides">
          <uib-accordion-heading style="color:black !important;">{{ride.destination}} {{ride.departDate | date: 'shortDate'}} {{ride.departTime | date: 'shortTime'}}</uib-accordion-heading>
          <p>Seats Left: {{ride.availableseats}}<p>
          <table ng-if="ride.availableseats != 0" class="table table-striped">
            <tbody>
              <tr ng-repeat="rider in ride.riders">
                <td ng-if="rider.status == 'pending'"><button ng-click="confirmRider(ride._id, rider.rcs)">Confirm</button></td> 
                <td ng-if="rider.status == 'accepted'">Confirmed!</td>
                <td>{{rider.rcs}}</td>
              <tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>

      <h2>Offers for Needed Rides</h2>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="ride in neededRidesDriver">
            <td>{{ride.drivers[0].status}}</td>
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <!--<td>{{ride.car.color + ' ' + ride.car.make + ' ' + ride.car.model}}</td>-->
          <tr>
        </tbody>
      </table>
    </uib-tab>

    <uib-tab heading="Requested Rides">
      <!--Confirmed Rides -->
      <h2>Confirmed Rides</h2>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="ride in requestedRides" ng-if="ride.riders[0].status == 'accepted'">
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <td>{{ride.car.color + ' ' + ride.car.make + ' ' + ride.car.model}}</td>
          <tr>
          <tr ng-repeat="ride in neededRidesRider" ng-if="ride.drivers[0].status == 'accepted'">
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <!--<td>{{ride.car.color + ' ' + ride.car.make + ' ' + ride.car.model}}</td>-->
          <tr>
        </tbody>

      </table>

      <!-- Pending Rides -->
      <h2>Pending Rides</h2>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="ride in requestedRides" ng-if="ride.riders[0].status == 'pending'">
            <td>{{ride.destination}}</td>
            <td>{{ride.departDate | date: 'shortDate'}}, {{ride.departTime | date: 'shortTime'}}</td>
            <td>{{ride.cost}}</td>
            <td>{{ride.car.year + ' ' + ride.car.make + ' ' + ride.car.model}}</td>
          <tr>
        </tbody>
      </table>

      <h2>Confirm Drivers</h2>
      <uib-accordion style="color:black">
        <uib-accordion-group ng-repeat="ride in neededRidesRider">
          <uib-accordion-heading style="color:black !important;">{{ride.destination}} {{ride.departDate | date: 'shortDate'}} {{ride.departTime | date: 'shortTime'}}</uib-accordion-heading>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="driver in ride.drivers" ng-if="driver.status == 'pending'">
                <td ng-if="driver.status == 'pending'"><button ng-click="confirmDriver(ride._id, driver.rcs)">Confirm</button></td> 
                <!--<td ng-if="driver.status == 'accepted'">Confirmed!</td>-->
                <td>{{driver.rcs}}</td>
              <tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>

    </uib-tab>
  </uib-tabset>
</div>